<div class="loginPage">
    <div class="loginPage__card">
        <img class="icon" src="/public/icons/favicon.png">
        <div class="content">
            <div class="card_head">
                <div class="card_text_content">
                    <div class="title">Войдите в аккаунт</div>
                    <div class="subtitle">Используйте свой Giga Account</div>
                </div>

                <a class="button secondary" href="/signup">Создать аккаунт</a>
            </div>

            {{> smart-form-template
            formClass="card_form"
            buttonText="Войти"}}
        </div>
    </div>
</div>