<div class="rating-form">
    <div class="rating-form__title">{{description}}</div>
    {{> components/dumb/rating_scale/rating_scale type=type items=items}}
    <div class="rating-form__anotation">
        <div class="rating-form__anotation-item">
            Не нравится
        </div>
        <div class="rating-form__anotation-item">
            Очень нравится
        </div>
    </div>
    <div class="rating-form__submit">
        <button class="button">Submit</button>
    </div>
</div>



