<div class="utility_bar">
    <div class="checkbox_container">
        <input class="checkbox" type="checkbox" name="happy"
            value="yes" id="main_checkbox">
        <label for="happy" class="fake-checkbox"></label>
    </div>
    <div class="icon_box trash">
        <img class="icon" src="/icons/trash.svg">
    </div>
</div>
{{#if mail_messages}}
{{#each mail_messages}}
{{#if this.id}}
{{> components/dumb/mail_message/mail_message-template
id=this.id
badge_text=this.badge_text
badge_type=this.badge_type
title=this.title
sender=this.sender
description=this.description
date=this.date
isRead=this.isRead
}}
{{/if}}
{{/each}}
{{/if}}