<div class="inbox">
    <header class="header">
        <div class="logo">
            <img class="icon_logo" src="/icons/favicon.png">
            {{!-- <div></div>
            <div class="search">
                <div class="icon_box"><img class="search_icon"
                        src="/public/icons/search.svg"></div>
                <input class="main_search" type="text" placeholder="Search">
            </div> --}}
        </div>
        <div class="profile_card">
            <div class="icon_box settings_button"><img class="icon"
                    src="/icons/settings.svg"></div>
            <div class="icon_box" id="profileBox">
                <img class="icon" src="{{userAvatar}}">
                <div class="profile_dropdown" id="profileDropdown">
                    <div class="user_email">{{userEmail}}</div>
                    <button class="logout button">Выйти</button>
                </div>
            </div>
        </div>
    </header>
    <div class="menu">
        <div class="create_message">
            <img src="/icons/new.svg">
            <div>Создать сообщение</div>
        </div>
        <div class="navigator" id="navigator">
            {{#each menu_elements}}
            {{> components/dumb/element_menu/element_menu-template
            url=this.url
            element_text=this.element_text
            active=this.active
            count=this.count
            navigation_url=this.navigation_url
            }}
            {{/each}}
        </div>
        <div class="button_box">
            <button id="createFolderButton" class="button button_create_folder">Создать папку</button>
        </div>
    </div>
    <div class="content" id="content">
    </div>
</div>