<div class="attachment-element" data-path="{{path}}" data-filename="{{name}}">
    {{#if isChangable}}
    <div class="attachment-delete" ><img class="attachment-delete-icon" src="/icons/exit.svg" alt="Удалить"></div>
    {{/if}}
    <img class="attachment-icon" src="/icons/file.svg" alt="Файл">
    <div class="attachment-name">{{name}}</div>
</div>