.email-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--color-for-bottom-border);
    padding: 10px;
    letter-spacing: -0.2px;
    .email-card__header{
        font-size: var(--large-font-size);
        font-weight: var(--bold-weight);
        color: var(--base-font-color);
        letter-spacing: -0.2px;
    }
    .email-card__sender{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .email-card__sender-name{
            font-size: var(--base-font-size);
            font-weight: var(--small-weight);
            color: var(--base-font-color);
        }
        .email-card__date{
            font-size: var(--base-font-size);
            font-weight: var(--small-weight);
            color: var(--base-font-color);
        }
    }
    .email-card__description{
        font-size: var(--base-font-size);
        font-weight: var(--small-weight);
        color: var(--base-font-color);
    }
}

.email-card.child{
    background-color: var(--color-subwhite);
    margin-left: 10%;
    .email-card__header{
        font-size: var(--base-font-size);
    }
    .email-card__sender{
        .email-card__sender-name{
            font-size: var(--small-font-size);
        }
        .email-card__date{
            font-size: var(--small-font-size);
        }
    }
    .email-card__description{
        font-size: var(--small-font-size);
    }
}
