 <div class="notification {{type}} {{#if visible}}visible{{/if}}">
    <img class="icon" src="/icons/info.svg" alt="Info:">
    <span class="notification-text">{{message}}</span>
    <button class="close-button">&times;</button>
</div>