<form id="{{formId}}" class="{{formClass}}" {{#if novalidate}}novalidate{{/if}}>
  {{#each fields}}
    <div class="form-group">
      {{> components/dumb/input/input-template 
        type=this.type
        name=this.name
        id=this.id
        label=this.label
       
        required=this.required
        minlength=this.minlength
        maxlength=this.maxlength
        value=this.value
        disabled=this.disabled
      }}
    </div>
  {{/each}}
  
  <div id="{{errorContainerId}}" class="error-container"></div>
  
  {{> components/dumb/button/button-template 
    type="submit"
    className="submit"
    buttonText=this.buttonText
  }}
</form>