@use 'src/assets/styles/mixins';

.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.settings-page__avatar-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.settings-page__username {
    @include mixins.text-style(var(--large-font-size), var(--base-weight), var(--base-font-color), normal);
    letter-spacing: 0.05em;
}

.settings-page__email {
    @include mixins.text-style(var(--subtitle-font-size), var(--base-weight), var(--base-font-color), normal);
    letter-spacing: 0.05em;
}

.settings-page__avatar-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.settings-page__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border-top: solid 4px #3eb489;
    border-right: solid 4px black;
    border-left: solid 4px black;
    border-bottom: solid 4px #3eb489;
    padding: 5px;
}

.settings-page__avatar-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.581);
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-page__avatar-overlay:hover {
    background-color: rgba(0, 0, 0, 0.334);
}

.settings-page__upload-icon {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.settings-page__save-button {
    margin-top: 10px;
    
}





.settings-page__toggle-form {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-for-bottom-border);
    color: var(--lighter-font-color);
}

.settings-page__toggle-button {
    background: none;
    all: unset;
    
    cursor: pointer;
    font-size: var(--base-font-size);
    padding: 10px 0;
    transition: color 0.3s;
}

.settings-page__toggle-button:hover {
    color: var(--base-font-color);
}

.settings-page__change-nickname-form.show,
.settings-page__change-password-form.show {
    display: block;
}

.settings-page__change-nickname-form.hide,
.settings-page__change-password-form.hide {
    display: none;
}
.settings-page__change-password-form,
.settings-page__change-nickname-form {
    display: flex;
    justify-content: start;
    .settings-page__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
}

