.email_card {
    display: flex;
    flex-direction: row;
    height: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 14px;
    background-color: white;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    &:hover {
        box-shadow: 0px 1px 3px  var(--color-box-shadow);
        cursor: pointer;
    }

}
.read {
    background-color: var(--color-subwhite);
    .actions_card {
        .sender {
            font-weight: var(--base-weight);
        }
    }
    .subject_card {
        .theme {
            font-weight: var(--base-weight);
        }
    }
    .date_card {
        .time {
            color: var(--color-black-54);
            font-weight: var(--base-weight);
        }
    }
}

.sender {
    width: 90%;
    font-size: var(--subtitle-font-size);
    font-weight: var(--medium-weight);
    color: var(--base-font-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actions_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.subject_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    .badge {
        display: flex;
        justify-content: center;
        height: 18px;
        border-radius: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: var(--color-secondary-button);
        color: var(--color-blue);
        font-size: var(--small-font-size);
        font-weight: var(--medium-weight);
        line-height: 120%;
        letter-spacing: 0.75%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 5%;
    }
    .theme {
        color: var(--base-font-color);
        font-weight: var(--medium-weight);
        font-size: var(--subtitle-font-size);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 30%;
    }
    .description {
        color: var(--color-black-54);
        font-weight: var(--base-weight);
        font-size: var(--subtitle-font-size);
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.for_aligment {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    width: 85%;
}
.date_card {
    width: 8%;
    .time {
        font-weight: var(--medium-weight);
        font-size: var(--subtitle-font-size);
        line-height: 120%;
        letter-spacing: -0.01em;
        display: flex;
        justify-content: flex-end;
        color: var(--base-font-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
        align-content: center;
    }
}
.selected {
    background-color: var(--color-selected-items); 
}