<div class="signupPage">
    <div class="signupPage__card">
        <img class="icon" src="icons/favicon.png">
        <div class="content">
            <div class="card_head">
            <div class="title">Регистрация</div>
            <div class="subtitle">Введите свои данные для регистрации</div>
        </div>
        {{> components/smart/smart-form-template
            formClass="card_form"
            buttonText="Зарегистрироваться"
            }}</div></div>
</div>