<div class="signupPage">
    <div class="signupPage__card">
        <img class="icon" src="/public/icons/favicon.png">
        <div class="content">
            <div class="card_head">
            <div class="title">Создание аккаунта</div>
            <div class="subtitle">Введите данные</div>
        </div>
        {{> smart-form-template
            formClass="card_form"}}</div></div>
</div>