.signupPage {
    background-color: var(--color-main-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.signupPage__card {
    background-color: white;
    border-radius: 28px;
    color: var(--base-font-color);
    padding: 24px;
    min-height: 384px;
    max-width: 800px;
    width: 100%;
    .content {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        gap: 32px;
        .card_head {
            min-width: 400px;
            .title {
                font-size: var(--title-font-size);
                font-weight: var(--base-weight);
                line-height: 44px;
            };
            .subtitle {
                font-size: var(--subtitle-font-size);
                font-weight: var(--base-weight);
                line-height: 24px;
                padding-top: 5px;
            }
        }
        .card_form {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 16px;
            max-width: 50%;
            justify-content: flex-end;
            button {
                margin-left: auto;
            }
        }
    }
}
