@import url('/src/pages/signup/signup.css');
@import url('/src/pages/login/login.css');
@import url('/src/pages/inbox/inbox.css');
@import url('animation.css');
@import url('/src/components/dumb/button/button.css');
@import url('/src/components/dumb/input/input.css');
@import url('/src/assets/styles/icon.css');
@import url('/src/components/dumb/mail_message/mail_message.css');
@import url('/src/components/dumb/element_menu/element_menu.css');
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
:root {
    --color-black-rgb: 0,0,0;
    --color-black-54: rgba(var(--color-black-rgb), 0.54)
}
/* Пример использования шрифта */
body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

