@use '../../pages/signup/signup';
@use '../../pages/main/main';
@use '../../pages/login/login';
@use 'animation';
@use '../../components/dumb/button/button';
@use '../../components/dumb/input/input';
@use '../../assets/styles/icon';
@use '../../components/dumb/mail_message/mail_message';
@use '../../components/dumb/element_menu/element_menu';
@use '../../pages/error/error';
@use '../../components/dumb/notification/notification';
@use '../../pages/create_email/create_email';
@use '../../pages/settings/settings';
@use '../../components/dumb/email/email-template';
@use '../../pages/email/email';
@use '../../assets/styles/iframe';
@use '../../components/smart/rating_form/rating_from';
@use '../../components/dumb/rating_scale/rating_scale';
@use '../../pages/statistics/statistics';
@use '../../components/dumb/modal/modal';
@use '../../components/dumb/contex_menu/contex_menu_for_menu';
@use '../../components/smart/attachments-container/attachments-container';
@use '../../components/dumb/attachment/attachment';


@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
:root {
    --button-shadow: 0px 2px 2px rgba(128, 128, 128, 0.55);

    --base-font-size: 14px;
    --large-font-size: 20px;
    --small-font-size: 12px;
    --title-font-size: 36px;
    --subtitle-font-size: 16px;
    
    --base-weight: 400;
    --medium-weight: 500;
    --bold-weight: 700;
    --small-weight: 300;

    --base-font-color: #202124;
    --lighter-font-color: #3D4043;
    --color-background-icon: rgba(60, 64, 67, 0.08);
    --color-green: #4caf50;
    --color-main-background: rgb(240, 244, 249);
    --color-subwhite: #F5F7F7;
    --color-primary-button: #0b57d0;
    --color-secondary-button: rgb(194, 231, 255);
    --color-selected-items: #d0e7ff;
    --color-blue: #1a73e8;
    --color-red: #C84031;
    --color-box-shadow: rgba(0, 0, 0, 0.1);
    --color-black-rgb: 0,0,0;
    --color-black-54: rgba(var(--color-black-rgb), 0.54);
    --color-for-bottom-border: rgba(128, 128, 128, 0.218);
}

body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

