<div class="element_menu {{#if active}}active{{/if}}" data-url="{{navigation_url}}">
    <div class="body_element" >
        <img class="svg_icon" src="{{url}}">
        <div>{{element_text}}</div>
    </div>
    {{#if count}}
    <div class="count">{{count}}</div>
    {{/if}}
</div>