.element_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 100px 100px 0px;
    margin-right: 16px;
    align-items: center;
    font-size: var(--base-font-size);
    cursor: pointer;
    &:hover {
        background-color: #F1F3F4;
        font-weight: var(--bold-weight);
        .svg_icon {
            filter: invert(41%) sepia(29%) saturate(5415%) hue-rotate(205deg) brightness(92%) contrast(90%);
        };
    };
}
.active {
    background-color: #E9F0FD;
    font-weight: var(--bold-weight);
}


.body_element {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    padding-left: 16px;
    align-items: center;
    color: var(--base-font-color);
    
}

