<div class="errorPage">
    <div class="errorPage__card">
        <img class="icon" src="/public/icons/favicon.png">
        <div class="content">
            <div class="title">{{error_code}}</div>
            <div class="subtitle">{{error_description}}</div>
        </div>
    </div>
</div>