.errorPage {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    .errorPage__card {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 20px;
        height: 350px;
        width: 500px;
        overflow: hidden;
        top: 0;
        left: 0;
        background-image: linear-gradient(45deg, #b2f5fab6, #eba8fca2, #b9fdffaf);
        .icon {
            /* align-self: center; */
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .title {
                font-size: 26px;
                font-weight: 600;
            }
            .subtitle {
                font-size: 15px;
                font-weight: 400;
            }
        }
        /* animation: 20s ease 0s infinite normal both running bg-pan-left; */
    }

}